[Desktop Entry]
Name=FuckDeskURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/fuckdesk;
TryExec=fuckdesk
Exec=fuckdesk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
